


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; 
}


.main-container {
    display: flex;
    width: 90%; 
    max-width: 2200px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.product-panel {
    flex: 1;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 50px;
}

.product-content {
    display: flex;
    gap: 20px;
    width: 100%;}

.product-image {
    width: 40%;
    max-width: 200px; 
    height: auto;
    object-fit: contain;
    padding: 2px;
}
.product-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.title {
    color: #cc9966; 
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
}

.description {
    font-size: 0.85em;
    line-height: 1.4;
    color: #333;
}

.price {
    color: #cc9966; 
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px 0 10px 0;
}


.buy-button {
    background-color: #ffc400; 
    color: #333;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buy-button:hover {
    background-color: #e0ac00;
}




.left-panel {
    border-bottom: 10px solid #d4ede6;
    border-right: 1px solid #e0e0e0;
}


.right-panel {
    
    position: relative;
}

.right-panel::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15%; 
    height: 100%;
    background-color: #f7e9e7; 
    border-bottom: 10px solid #f7e9e7; 
    z-index: 1;
}


.right-panel .product-content {
    position: relative;
    z-index: 2;
    background-color: transparent;
}