
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333; 
}


.card-container {
    width: 100%;
    max-width: 400px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 5px solid #d4ede6;
    border-radius: 5px;
    overflow: hidden; 
}
.product-card {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.image-section {
    background-color: white; 
    padding: 20px 0;
    text-align: center;
}

.product-image {
    width: 80%; 
    max-width: 250px; 
    height: auto;
    object-fit: contain;
}

.product-details {
    background-color: #f7e9e7; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.title {
    color: #cc9966; 
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
}

.description {
    font-size: 0.8em;
    line-height: 1.4;
    color: #333;
    margin-bottom: 20px;
}

.price {
    color: #cc9966;
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 0;
}

.buy-button {
    background-color: #ffc400; 
    color: #333;
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px; 
    width: 80%;
    max-width: 200px;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    
    background-image: linear-gradient(to bottom, #ffd700, #ffc400); 
}

.buy-button:hover {
    background-image: linear-gradient(to bottom, #e0ac00, #ffc400);
}